@media print
{
/* ============================================================================
    基本スタイル
============================================================================ */
body.nwdoc
{
    margin:                 8pt;
    padding:                0;

    line-height:            1.3;
    font-size:              75%;
    font-family:            serif;
}

footer
{
    margin:                 10pt 0 8pt 10pt;

    border-width:           0px 0px 2px;
    border-style:           solid;
    border-color:           black;

    font-size:              150%;
    font-weight:            bold;
}

/* 見出し */
h1
{
    margin:                 0 0 10pt;
    padding:                0 0 0;

    border-width:           0px 0px 2px;
    border-style:           solid;
    border-color:           black;

    font-size:              200%;
    font-weight:            bold;
}

h2
{
    margin:                 10pt 0 8pt 10pt;

    border-width:           0px 0px 2px;
    border-style:           solid;
    border-color:           black;

    font-size:              150%;
    font-weight:            bold;
}

h3
{
    margin:                 10pt 0 8pt 30pt;

    border-width:           0px 0px 1px;
    border-style:           solid;
    border-color:           black;

    font-size:              110%;
    font-weight:            bold;
}

h4
{
    margin:                 10pt 0 8pt 30pt;

    font-size:              100%;
    font-weight:            bold;
}

/* 段落 */
p
{
    margin:                 0 0 0 30pt;
    text-indent:            1em;
}

pre
{
    margin:                 10pt 50pt 8pt 50pt;
}

p, pre
{
    font-size:              100%;
    font-weight:            normal;
}



pre
{
    padding:                5pt;

    border:                 1px solid black;

    font-family:            monospace;
    line-height:            1em;
}

/* リスト */
ul, ol
{
    margin:                 0 0 0 30pt;
    padding:                0 0 0 10pt;

    font-size:              100%;
    font-weight:            normal;
    line-height:            1.5;
}

ul ul, ul ol, ol ul, ol ol
{
    margin:                 0 0 0 1pt;
}

/* テーブル */
table
{
    border-collapse:        collapse;

    width:                  auto;

    margin:                 1em auto;
    font-size:              100%;
    font-weight:            normal;
    
    page-break-inside:      avoid;
}

th, td
{
    padding:                0.2em 0.6em;

    border:                 1px solid black;
}

th, thead
{
    background-color:       #EEEEEE;

    text-align:             left;
}

thead
{
    border-bottom:          3px double black;
}

th[scope="row"] 
{
    border-right:           3px double black;
}

th[scope="col"] 
{
    border-bottom:          3px double black;
}


a
{
    margin:                 0;
}

/* ============================================================================
    
============================================================================ */
div#nwsign
{
    font-size:              80%;
    color:                  #333;
}

div#version
{
    margin:                 0;

    text-align:             right;
    font-size:              80%;
}

h1 + div#version
{
    margin-top:             -1.5em;
}

h2.important
{
    border-width:           0 0 3px;
    border-color:           red;
}

h3.important
{
    border-width:           0 0 3px;
    border-color:           red;
}

/* フッター類 */
div#footadjuster
{
    display:                none;
}

div#footer
{
    padding:                0;
    margin:                 5em 0 0;

    border-width:           2px 0px;
    border-color:           black;
    border-style:           dashed;

    font-size:              80%;
}

div.confidential_logo
{
    margin:                 0 0;

    font-weight:            bold;
    color:                  red;
    
    font-size:              200%;
}

div.confidential_ja
{
    margin:                 0.3em 0;

}

div.confidential_en
{
    margin:                 0.3em 0;
}

div#footer div.copyright
{
    margin:                 0.3em 0 0;

    text-align:             right;
}

/* api */
body.nwapiref div#apibarcontainer
{
    display:                none;
}
body.nwapiref div#apibartoggler
{
    display:                none;
}

body.nwapiref p
{
    text-indent:            0;
}

body.nwapiref table
{
    border-collapse:        collapse;

    width:                  auto;

    margin:                 10pt 0 8pt 30pt;
    font-size:              100%;
    font-weight:            normal;
}

body.nwapiref div.inheritctrl
{
    display:                none;
}

/* シェル */
pre.shell
{
    border:                 2px solid black;
}

/* インライン要素 */
span.path
{
    border:                 1px dotted black;
    font-family:            monospace;
}

span.env
{
    border:                 1px dotted black;
    font-family:            monospace;
}

/* bar */
div#nw_left_bar,
div#nw_left_bar_toggle,
div#nw_api_bar,
div#nw_api_bar_toggle,
div#nw_right_bar_wrapper,
div#nw_foot_adjuster,
div#nw_foot_adjuster_anchor
{
    display:none;
}

} /* @media print */
