@media screen
{


div#nw_api_bar div.nwsb
{
    position : relative;
    margin : 0px 20px 0px 0px;
    padding : 0px;
    width : 100%;
}
div#nw_api_bar div.nwsb div.nwsb_input_wrapper
{
    background-color: white;
    border-width : 1px;
    border-color : #333333 #DDDDDD #DDDDDD #333333;
    border-style : solid;
}
div#nw_api_bar div.nwsb input
{
    border-width : 0px;
    border-color : #333333 #DDDDDD #DDDDDD #333333;
    border-style : solid;
    height : 20px;
    margin : 0;
    padding : 0px 0px 0px 0px;
    width : 100%;
}
div#nw_api_bar div.nwsb div.nwsb_helplink
{
    float: right;
    text-align: center;
    padding-right: 10px;
}
div#nw_api_bar div.nwsb div.nwsb_helplink a
{
    text-decoration: none;
}
div#nw_api_bar div.nwsb.nwsb_inactive input
{
    color : #AAAAAA;
    width : 80%;
}
div#nw_api_bar div.nwsb.nwsb_active input
{
    color : #000000;
}
div#nw_api_bar div.nwsb.nwsb_active div.nwsb_helplink
{
    display: none;
}
div#nw_api_bar div.nwsb.nwsb_notinit input
{
    display : none;
}
div#nw_api_bar div.nwsb div.nwsb_resultbox_position
{
    position : relative;
}
div#nw_api_bar div.nwsb div.nwsb_resultbox
{
    font-size : 100%;
    position : absolute;
    width : 100%;
    height : 20em;
    overflow:auto;
    margin : 0px 0px 0px 0px;
    padding : 0px;
    border-width : 1px 1px 1px;
    border-color : #3333AA;
    border-style : solid;
    background-color : white;
    z-index : 1000;
}
div#nw_api_bar div.nwsb div.nwsb_resultbox table
{
    border : none;
    padding : 0px;
    margin : 0px;
    border-collapse : collapse;
    width : 100%;
}
div#nw_api_bar div.nwsb div.nwsb_resultbox tr
{
    border : none;
    padding : 0px;
    margin : 0px;
    height : 1em;
    width : 100%;
    background-color : #FFFFFF;
}
div#nw_api_bar div.nwsb div.nwsb_resultbox td
{
    border : none;
    padding : 0px 5px;
    margin : 0px;
    width : 100%;
    text-align : left;
    vertical-align : middle;
    white-space : nowrap;
    overflow : hidden;
    font-family: monospace;
    font-size: 80%;
}
div#nw_api_bar div.nwsb div.nwsb_resultbox tr.nwsb_selected
{
    background-color : #EEEEFF;
}


div#nw_full_text_search
{
    background-color: white;
    border-width : 1px;
    border-color : #333333 #DDDDDD #DDDDDD #333333;
    border-style : solid;
    height : 20px;
}
div#nw_full_text_search_text
{
    margin-top : 1px;
    float : left;
    width : 70%;
}

div#nw_full_text_search_text input
{
    border-width : 0px;
    height : 20px;
    margin : 0;
    width : 100%;
    padding : 0px 0px 0px 0px;
}


div#nw_full_text_search_button
{
    float : right;
    width : 30%;
}
div#nw_full_text_search_button input
{
    width : 100%;
}

div#nw_full_text_search.ft_inactive div#nw_full_text_search_text input
{
    color : #AAAAAA;
}
div#nw_full_text_search.ft_active div#nw_full_text_search_text input
{
    color : #000000;
}
div#nw_full_text_search.ft_inactive div#nw_full_text_search_text
{
    width : 100%;
}
div#nw_full_text_search.ft_inactive div#nw_full_text_search_button
{
    display : none;
}

} /* @media screen */
