@media screen
{

/* シェル */
pre.shell
{
    border:                 3px solid black;

    max-width:              40em;
    overflow:               auto;

    background-color:       #333;

    color:                  white;
}

/* インライン要素 */
span.path
{
    background-color:       #E8E8E8;

    font-family:            monospace;
}

span.env
{
    background-color:       #DDEEDD;

    font-family:            monospace;
}

/* 全文検索 */
span.highlighted
{
    background-color:       #ffee00 !important;
}


} /* @media screen */
