---
title: Error 404
permalink: /404.html
---
<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/styledsi.css">
</head>
    <body style="background: #000000;" class="fourohfour">
    {% include navdsi.html %}
    {% include navncx.html %}
<div style="padding-top:5vw;color:#ffffff;width: fit-content; margin:0 auto;">
    <h1 style="text-align: center;">404</h1><br>
    <h3>An error has occurred.<br>Click or touch the <a href="/">HOME</a><br>Button to go to the main page.<br>Please refer to the Nintendo DSi<br>Operations manual for details.</h3>
</div>
</body>