---
title: DSiWare
layout: dsiware
---

<div class="text-center pt-3">
    <h1>Welcome to the DS part of my site!</h1>
    <p>Right now it's just an online demo of the developer DSi Shop (link in nav bar) and couple DSiWare reviews, but hopefully there will be more content soon. Stuff like info on and links to developer apps (I just feel like the current info could be greatly improved upon).</p>
    <h2>rmc's DSiWare Reviews:</h2>
    <p>I've been going through all the DSiWare and decided I should do reviews on every single game. I've always wanted a fun way to improve my writing, and here it is!<br>I hope you can find some new awesome (or awful) DSiWare from this.</p>
</div>
<div class="container">
    {% for post in site.posts %}
                <ul class="titleimg">
                <div class="container">
                <div class="imageOne image2"><img src="/assets/dsi/prompt.png" class="titleimg"></div>
                <a href="{{ post.url }}"><div class="imageTwo image2">
                <img src="/assets/dsi/prompthover.png" class="titleimgoverlay" style="z-index:3;"></div></a>
                <div class="text">{{ post.titleshort }}<br>{{ post.author }}</div>
                <div class="imageThree image3 icon">
 <img src="{{ post.icon }}" width="15%" height="15%" alt="">
</div>
                </div>
                </ul>
    {% endfor %}
</div>
    {% for post in site.posts %}
<br>
    {% endfor %}
<br><br><br><br><br>
