 body {
  background-color: black;
}

h1 {
  color: green;
  text-align: left;
}

p {
  color: green;
  font-family: helvetica;
  font-size: 20px;
}

li {
  color: green;
  font-family: helvetica;
  font-size: 20px;
}

code {
  color: green;
  font-family: courier new;
  font-size: 18px;
}
