---
title: Index
layout: dsiware
---
<style>
body {
  font-family: dsifont;
}
@font-face {
  font-family: dsifont;
  src: url(https://cdn.randommeaninglesscharacters.com/assets-dsi/font/nintendo_NTLGDB_001.ttf);
}
@font-face {
  font-family: dsifont-bios;
  src: url(https://cdn.randommeaninglesscharacters.com/assets-dsi/font/nintendo-DS-BIOS.ttf);
}
@font-face {
  font-family: dsifont-special;
  src: url(https://cdn.randommeaninglesscharacters.com/assets-dsi/font/NITROIPL_Gaiji.ttf);
}






.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
  gap: 4%;
  text-align: center;
  justify-content: space-evenly;
}
.parent_or_guardian {
  position: relative;
  top: 0;
  left: 0;
  width: 200px;
  padding-top: 20px;
}
.prompt {
  position: relative;
  top: 0;
  left: 0;
  border: 1px red solid;
  width: 100%;
  z-index: 1;
}
.prompt_two_a_new_hover {
  position: absolute;
  top: 20px;
  left: 0px;
  border: 1px green solid;
  width: 100%;
  opacity: 0;
  z-index: 2;
}
.prompt_two_a_new_hover:hover {
  opacity: 1.0;
}

.flexception {
  position: absolute;
  border: 1px orange solid;
  display: inline-flex;
  flex-direction: column;
  z-index: 2;
  align-items: stretch;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.flexceptionception {
  border: 1px blue solid;
  display: inline-flex;
  flex-direction: row;
}

.flexceptionception_the_flexening {
  display: inline-flex;
  border: 1px green solid;
  flex-direction: column;
}

.prompt_header {
  padding-left: 10px;
  text-align: left;
  font-size: 12px;
}

.prompt_title {
  height: 34px;
}

.prompt_info {
  padding-top: 3px;
  text-align: left;
  font-size: 12px;
}

</style>

wgrhtebdfsgdeqt4y53wu6ejrydtbfghzsaewt4y5u6erjydfgnhrwy5u46i57rktyjthxxxxxxxxxxxxxxxxxzcxsdfd
<div class="flex-container">
{% for ENTRY in site.data.dsinfo %}
    {% if ENTRY.PUBLISHED == "TRUE" %}
<div class="parent_or_guardian">
  <div class="flexception">
    <div class="flexceptionception">
      <div>
        <img src="{{ site.imgurl }}{{ ENTRY.PROGRAM }}/{{ ENTRY.PROGRAM }}.gif" width="52px" height="52px">
      </div>
      <div class="prompt_header">
        <div class="flexceptionception_the_flexening">
          <div class="prompt_title">
          {{ ENTRY.TITLE }}
          </div>
          <div>
            Target:</b>
            {% if ENTRY.SYSTEM == "TWL/DSi" %}
             <span style="color:#ff0000;">{{ ENTRY.SYSTEM }}</span>
            {% else %}
             <span style="color:#3399ff;">{{ ENTRY.SYSTEM }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="prompt_info">
      <i>{{ ENTRY.DESC }}</i>
    </div>
  </div>
  <img class="prompt" src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_red_prompt.png" />
  <a href="/dsidev/{{ ENTRY.PROGRAM | downcase }}.html"><img class="prompt_two_a_new_hover" src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_prompthover.png" /></a>
</div>
    {% endif %}
{% endfor %}
</div>
