/*****************************************************************************
	Man Page Style Sheet
 *****************************************************************************/

BODY, TR
{
	font-size			: 90%;

	background-color	: #fff;
	color				: #111;

	margin				: 8px;
	padding				: 0px;
}


/*============================================================
	Heading Styles
 *============================================================*/

H1
{
  font-size		: 150%;
  font-family		: Arial;
  border-bottom-width	: 5px;
  border-bottom-style	: solid;
  border-bottom-color	: #CD202C;
  padding-bottom		: 1px;
  margin-bottom		: 20px;
  letter-spacing		: normal;
  font-weight		: bold;
}

H2
{
    font-weight     : bold;
/*
    font-size       : 16pt;
*/
    font-size       : 150%;
    border-style    : none none solid double;
    border-width    : 0px 0px 2px 8px;
    /* 見出しの線の色を指定 */
    border-color    : #CD202C;

    /* RVLプラットフォーム系列 */
/*
    border-color    : #34beed;
*/

    /* TWLプラットフォーム系列 */
/*
    border-color    : #ff458f;
*/

    margin-left     : 2px;
    padding-left    : 4px;
}

H3
{
	font-weight			: bold;
	font-size			: 120%;

	margin				: 20px 0px 10px 5px;
	padding				: 0px;

	border-style		: none none solid none;
	border-width		: 0px 0px 2px 0px;
	border-color		: #CD202C;
}

/*============================================================
	Table Styles
 *============================================================*/

TABLE
{
	width			    : 95%;
	padding				: 0px;

	border-color	: #c0c0c0;
    
    border-collapse: collapse;
}

TABLE TD, TABLE TH
{
	text-align			: left;
    
	padding				: 4px 8px;

    border: 1px solid #c0c0c0;
}

TR
{
	background-color: #eef;
}

TH
{
    font-weight     : bold;
	width			: 20%;
}

THEAD TR
{
    font-weight     : bold;
	background-color: #ddf;
}

TH.category
{
	font-weight			: bold;
	background			: #acf;
}


/*============================================================
	Writing Style Reference
 *============================================================*/

P.reference
{
	font-size			: 100%;
	font-weight			: normal;

	padding				: 0px;
}


/*============================================================
	History Style
 *============================================================*/

DL.history DT
{
	font-style			: normal;
	font-weight			: bold;
	text-align			: left;
	font-size			: 9pt;

	margin				: 0px;
	padding				: 0px;

/*	background			: #eef; */
}

DL.history DD
{
	font-style			: normal;
	font-weight			: normal;
	text-align			: left;
	font-size			: 10pt;

	margin				: 0px 0px 4px 0px;
	padding				: 0px;
}


/*============================================================
	Description Styles
 *============================================================*/

DIV.section
{
	margin				: 0px 8px 10px 20px;
	padding				: 0px;
}

P
{
	font-weight			: normal;
}

PRE
{
	padding: 10px;
    
	background: #f0f0f0;
	border: 1px solid #ccc;
}

CODE
{
	padding: 0;

}


UL
{
	font-weight			: normal;

	margin				: 0px 8px 10px 40px;
	padding				: 0px;
}

OL
{
	font-weight			: normal;

	margin				: 0px 8px 10px 50px;
	padding				: 0px;

	list-style-type		: decimal;
}

LI
{
	margin				: 0px 8px 2px 16px;
	padding				: 0px;
}

CODE
{
}


P.warning
{
	color				: red;
	font-weight			: bold;
	border				: solid 2px red;
	padding				: 1em;
}

P.notice
{
	color				: black;
	font-weight			: bold;
	border				: solid 1px black;
	padding				: 1em;
}

/*============================================================
	Display Styles
 *============================================================*/

SPAN.func_attr
{
	font-size			: 8pt;
	color				: white;
	font-weight			: bold;
	background			: #44f;
	border-left			: solid 1px #aaf;
	border-top			: solid 1px #aaf;
	border-right		: solid 1px #00c;
	border-bottom		: solid 1px #00c;
	padding-left		: 2px;
	padding-right		: 2px;
}

SPAN.func_sdkver
{
	font-size			: 8pt;
	color				: white;
	font-weight			: bold;
	background			: #0a0;
	border-left			: solid 1px #0f0;
	border-top			: solid 1px #0f0;
	border-right		: solid 1px #060;
	border-bottom		: solid 1px #060;
	padding-left		: 2px;
	padding-right		: 2px;
}

/*============================================================
	For Creating Tables
 *============================================================*/

span.static_style
{ 
    font-size			: 8pt;
    color				: white;
    font-weight			: bold;
    background			: #44f;
    border-left			: solid 1px #aaf;
    border-top			: solid 1px #aaf;
    border-right		: solid 1px #00c;
    border-bottom		: solid 1px #00c;
    padding-left		: 2px;
    padding-right		: 2px;
}

span.virtual_style
{ 
    font-size			 : 8pt;
    color				 : white;
    font-weight			: bold;
    background			: #0a0;
    border-left			: solid 1px #0f0;
    border-top			: solid 1px #0f0;
    border-right		: solid 1px #060;
    border-bottom		: solid 1px #060;
    padding-left		: 2px;
    padding-right		: 2px; 
}

span.protected_style
{ 
    font-size			 : 8pt;
    color				 : white;
    font-weight			: bold;
    background			: #444;
    border-left			: solid 1px #ccc;
    border-top			: solid 1px #ccc;
    border-right		: solid 1px #222;
    border-bottom		: solid 1px #222;
    padding-left		: 2px;
    padding-right		: 2px;
}

table.table, table.table td, table.table th
{
    border-collapse: collapse;
    background-color: white;
}

table.table
{
    width: auto;
    margin: 1em;
    position	: static;
    font-family	: Arial;
}

table.table td, table.table th
{
    padding: 0.2em;
}

table.table td.number, table.table th.number
{
    text-align: right;
}

table.table tbody tr th
{
    text-align: left;
    font-weight: normal;
    width: auto;
}

table.table thead tr th,
table.table tbody tr th.category
{
    padding: 0 0.2em;
}

table.table caption
{
    font-weight: bold;
    padding: 0.4em;
}

table.table th
{
    font-weight			: bold;
    background			: #acf;
}

