
@import url("nwdoc/nwdoc_base.css");
@import url("nwdoc/nwdoc_layout.css");
@import url("nwdoc/nwdoc_bar.css");
@import url("nwdoc/nwdoc_search.css");
@import url("nwdoc/nwdoc_hint.css");
@import url("nwdoc/nwdoc_api.css");

@import url("nwdoc/nwdoc_print.css");

.fancy {
  margin: 3.5em 0em 0.8em;
  padding: 0.3em 0.3em 0.3em 0.5em;
  border-width: 0px 0px 1px 5px;
  border-style: solid;
  border-color: #730800;
  background: #ffbcb8;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
  background-position: left;
  background-repeat: repeat-y;
  font-size: 100%;
  font-weight: bold;
  color: #224499;
}
