---
title: Index
layout: dsiware
---

<div class="releaseindex-limit">
  {% assign sorted_pages = site.pages | sort: "date" | reverse %}
  {% for release in sorted_pages %}
    {% if release.identifier == 'release-id' %}
      {% if release.releaseslug != null %}
        <div style="margin:1%;">
           <div class="devinfo-container-main releasepage colorbox3">
              <img src="{{ site.imgui }}menu/green/dsi_widebarnoprompt_u.png" style="width: 100%;position: static;display: block;" class="pixelate">
              <div style="background-image: url('{{ site.imgui }}menu/dsi_widepromptnobar.png');background-size:100% 100%;position: static;display: inline-block;width:100%;">
                 <div class="devinfo-main" style="position:relative;flex-wrap: auto;"><br>
                 <h3 style="padding-top:0;" class="text-center"><a href="{{ release.url }}">{{ release.title }}</a> ({{ release.date }})</h3>
                 <div style="display:flex;flex-direction: row;flex-wrap:wrap;justify-content: space-around;  padding-bottom:15px">
                 <p style="width:50%;min-width: 200px;">
                 {{ release.fulldesc }}
                 </p>
                 <img style="width:auto;height:100%;max-height: 300px;max-width: 50%;" src="{{ site.releasedir }}{{ release.releaseslug }}{{ release.preview }}">
                 </div>
                 </div>
              </div>
              <img src="{{ site.imgui }}menu/green/dsi_widebarnoprompt_d.png" style="width: 100%;display: block;" class="pixelate">
           </div>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>