<script>
function warnFaketad() {
  alert("This TAD is unofficial! The original TAD for this file has been lost, so we recreated it from an SRL using 'maketad.exe'.\n\nI highly suggest testing in an emulator before installing in case of errors.\n\nIf you have the original, please email me at ''lillian@randommeaninglesscharacters.com''.");
}
</script>
<!-- Get first entry in CSV for the desired program. The credit/banner/name/origin should be the same across all files, listing multiple items in each line if there are differences. -->
{% for ENTRY in site.data.dsinfo %}
  {% if ENTRY.PROGRAM == page.app %}
    {% if ENTRY.PUBLISHED == "TRUE" %}
<!--
<div class="imageTwo" style="position:relative;width:100%;height:14vw;">
  <div class="homeimg">
    <div class="container">
      <div class="imageTwo image2">
        {% if ENTRY.TARGET == "CARD" %}
          <img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_pink_homemenu_card.png" class="homeimg">
        {% else %}
          <img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_pink_homemenu_nand.png" class="homeimg">
        {% endif %}
      </div>
      <div class="imageThree image3" style="">
        {% if ENTRY.BANNER1 == "" %}
          <div class="hometext" style="padding-top: 2.15vw;">{{ ENTRY.BANNER }}</div>
        {% else %}
          <div class="hometext" style="padding-top: 1.5vw;">{{ ENTRY.BANNER }}<br>{{ ENTRY.BANNER1 }}</div>
        {% endif %}
      </div>
          <div class="imageThree image3 homeicon" style="">
            <img src="{{ site.imgurl }}{{ ENTRY.PROGRAM }}/{{ ENTRY.PROGRAM }}.gif" width="12.5%" height="12.5%">
          </div>
      </div>
  </div>
</div>
-->
<div class="devcsv-container">
  
  <div class="devcsv-preview-container" style="border:2px solid red">
    <div>
    <img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_pink_homemenu_card.png" style="width: 100%">
    </div>
  </div> 
  
  <div class="devcsv-info">
    <b><u>Source:</u></b><br>{{ ENTRY.ORIGIN }}
  </div>
  <div class="devcsv-info2">
    <br><br><b><u>Dumped by:</u></b><br>{{ ENTRY.CREDIT }}
  </div>

  <div class="devcsv-download">
  <table class="devcsv-table">
  <tr>
    <th style="text-align: left;"><u><b>Downloads:</b></u></th>
  <tr>
  <tr>
    <th class=""><b>SRL</b></th>
    <th class=""><b>TAD</b></th>
  {% for ENTRY in site.data.dsinfo %}
    {% if ENTRY.PROGRAM == page.app %}

      {% if ENTRY.TYPE == "srl" %}
  </tr>
        <tr>
        {% case ENTRY.DANGER %}
          {% when "high" %}
            <td class=""><a href="{{ site.appurl }}{{ ENTRY.PROGRAM }}/{{ ENTRY.PROGRAM }}_{{ ENTRY.VERSION }}{{ ENTRY.DATE }}.{{ ENTRY.TYPE }}" onclick="return confirm(`WARNING:\n\nTHIS PROGRAM WILL PERMANENTLY BRICK YOUR CONSOLE. Do not run this program unless in an emulator.\n\nBy clicking ''OK'' to download, you accept that you and you alone are responsible for any damages caused to your devices. I may provide this software, but running it is ultimately up to you, and so I will not be held responsible for the outcomes of your actions.\n\nPlease press ''Cancel'' if you do not agree to this or would not like to download the software.`)">{{ ENTRY.VERSION }}{{ ENTRY.DATE }}</a></td>
          {% when "medium" %}
            <td class=""><a href="{{ site.appurl }}{{ ENTRY.PROGRAM }}/{{ ENTRY.PROGRAM }}_{{ ENTRY.VERSION }}{{ ENTRY.DATE }}.{{ ENTRY.TYPE }}" onclick="return confirm(`WARNING:\n\nThis program has a risk of permanently bricking your console. Only use if you know what you are doing.\n\nBy clicking ''OK'' to download, you accept that you and you alone are responsible for any damages caused to your devices. I may provide this software, but running it is ultimately up to you, and so I will not be held responsible for the outcomes of your actions.\n\nPlease press ''Cancel'' if you do not agree to this or would not like to download the software.`)">{{ ENTRY.VERSION }}{{ ENTRY.DATE }}</a></td>
          {% else %}
            <td class=""><a href="{{ site.appurl }}{{ ENTRY.PROGRAM }}/{{ ENTRY.PROGRAM }}_{{ ENTRY.VERSION }}{{ ENTRY.DATE }}.{{ ENTRY.TYPE }}">{{ ENTRY.VERSION }}{{ ENTRY.DATE }}</a></td>
        {% endcase %}
      {% endif %}
      {% if ENTRY.TYPE == "tad" %}
        {% case ENTRY.DANGER %}
          {% when "high" %}
            <td class=""><a href="{{ site.appurl }}{{ ENTRY.PROGRAM }}/{{ ENTRY.PROGRAM }}_{{ ENTRY.VERSION }}{{ ENTRY.DATE }}.{{ ENTRY.TYPE }}" onclick="return confirm(`WARNING:\n\nTHIS PROGRAM WILL PERMANENTLY BRICK YOUR CONSOLE. Do not run this program unless in an emulator.\n\nBy clicking ''OK'' to download, you accept that you and you alone are responsible for any damages caused to your devices. I may provide this software, but running it is ultimately up to you, and so I will not be held responsible for the outcomes of your actions.\n\nPlease press ''Cancel'' if you do not agree to this or would not like to download the software.`)">(tad)</a>
              {% if ENTRY.FAKETAD == "True" %}
                <a href="#" onclick="warnFaketad()">(!)</a>
              {% endif %}
            </td>
          {% when "medium" %}
            <td class=""><a href="{{ site.appurl }}{{ ENTRY.PROGRAM }}/{{ ENTRY.PROGRAM }}_{{ ENTRY.VERSION }}{{ ENTRY.DATE }}.{{ ENTRY.TYPE }}" onclick="return confirm(`WARNING:\n\nThis program has a risk of permanently bricking your console. Only use if you know what you are doing.\n\nBy clicking ''OK'' to download, you accept that you and you alone are responsible for any damages caused to your devices. I may provide this software, but running it is ultimately up to you, and so I will not be held responsible for the outcomes of your actions.\n\nPlease press ''Cancel'' if you do not agree to this or would not like to download the software.`)">(tad)</a>
          {% if ENTRY.FAKETAD == "True" %}
            <a href="#" onclick="warnFaketad()">(!)</a>
          {% endif %}
            </td>
          {% else %}
            <td class=""><a href="{{ site.appurl }}{{ ENTRY.PROGRAM }}/{{ ENTRY.PROGRAM }}_{{ ENTRY.VERSION }}{{ ENTRY.DATE }}.{{ ENTRY.TYPE }}">(tad)</a>
            {% if ENTRY.FAKETAD == "True" %}
              <a href="#" onclick="warnFaketad()">(!)</a>
            {% endif %}
            </td>
        {% endcase %}
      {% endif %}
    {% endif %}
  {% endfor %}
  </table>
  </div>

</div>
    {% endif %}
  {% endif %}
{% endfor %}