<br><br><br><footer class="bg-light text-lg-start border-top align-items-center text-center" style="text-align:center;">
    <div class="text-center p-3 align-items-center" style="font-size: 8px;">
        Copyright &copy; 2021-<span id="footerDate"></span> Ian M. Skinner <a href="/contactus" class="text-reset fw-bold">Contact me.</a>
    </div>
    <!--<div align='center' hidden><a href='https://www.free-website-hit-counter.com'><img src='https://www.free-website-hit-counter.com/c.php?d=9&id=141120&s=39' border='0' alt='Free Website Hit Counter'></a><br / ><small><a href='https://www.free-website-hit-counter.com' title="Free Website Hit Counter">(page hits)</a></small></div>-->

</footer>
