<footer class="bg-light text-lg-start border-top align-items-center text-center">
    <div class="text-center p-3 align-items-center" style="background-color: rgba(0, 0, 0, 0.25);">
        Copyright &copy; 2021-<span id="footerDate"></span> Ian M. Skinner <a href="/contactus" class="text-reset fw-bold">Contact me.</a>
        <br>
        <span class="nav col-md-4 list-unstyled d-inline"><a href="https://github.com/IanSkinner1982"><img class="bi" width="24" height="24" src="https://cdn.ncxprogramming.com/file/image/navbar/github-dark.svg" alt=""></a> <a href="https://discord.gg/XZxxZngwDQ"><img class="bi" width="24" height="24" src="https://cdn.ncxprogramming.com/file/image/navbar/discord-dark.svg" alt=""></a></span>
    </div>
</footer>
