<br><br><br><footer class="bg-light text-lg-start border-top align-items-center text-center" style="text-align:center;">
    <div class="text-center p-3 align-items-center" style="font-size: 8px;position: fixed;bottom: 0;margin-left:84%;background-color: grey;z-index: 4;">
        Copyright &copy; 2021-<span id="footerDate"></span> Lillian M. Skinner <a href="/contactus" class="text-reset fw-bold">Contact me.</a>
    </div>
    <div align='center' hidden>
        <!-- <img src="https://profile-counter.glitch.me/rvtr/count.svg" /> -->
    </div>

</footer>
