{% if page.title == "Error 404" %}
<nav class="navbar navbar-dark navbar-expand-lg bg-black">
{% else %}
<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    {% endif %}
    <div class="container-fluid">
        <a class="navbar-brand" href="/">rmc's site</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="/programs/">Programs</a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/dsidev">DS Stuff</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
