<div class="nav-container">
  <div class="nav-bracket">
    <img src="{{ site.imgui }}menu/dsi_leftbracket.png">
  </div>

  <div class="nav-content">
    <div class="nav-content-container"> <!-- 14 boxes please -->
      <div class="nav-content-box colorbox0">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_boxfull.png" />
        <a href="/"><img class="nav-content-box-sub" src="{{ site.imgui }}menu/green/dsi_boxoverlay.png" /></a>
        <img src="{{ site.imgui }}navbar/home_128.png" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box colorbox1">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_boxfull.png" />
        <a href="{{ site.shopurl }}"><img class="nav-content-box-sub" src="{{ site.imgui }}menu/green/dsi_boxoverlay.png" /></a>
        <img src="{{ site.imgui }}navbar/devshop_128.png" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box colorbox2">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_boxfull.png" />
        <a href="/dsidev/guides.html"><img class="nav-content-box-sub" src="{{ site.imgui }}menu/green/dsi_boxoverlay.png"/></a>
        <img src="{{ site.imgui }}navbar/guides.png" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box colorbox3">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_boxfull.png" />
        <a href="/dsidev/releases.html"><img class="nav-content-box-sub" src="{{ site.imgui }}menu/green/dsi_boxoverlay.png" /></a>
        <img src="{{ site.imgui }}navbar/releases.png" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box colorbox0">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_box.png" />
        <img class="nav-content-box-sub" src="{{ site.imgui }}menu/green/dsi_boxoverlay.png" />
        <img src="" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box colorbox1">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_box.png" />
        <img class="nav-content-box-sub" src="{{ site.imgui }}menu/green/dsi_boxoverlay.png" />
        <img src="" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box colorbox2">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_box.png" />
        <img class="nav-content-box-sub" src="{{ site.imgui }}menu/green/dsi_boxoverlay.png" />
        <img src="" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box colorbox3">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_box.png" />
        <img class="nav-content-box-sub" src="{{ site.imgui }}menu/green/dsi_boxoverlay.png" />
        <img src="" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box colorbox0">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_box.png" />
        <img class="nav-content-box-sub" src="{{ site.imgui }}menu/green/dsi_boxoverlay.png" />
        <img src="" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box colorbox1">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_box.png" />
        <img class="nav-content-box-sub" src="{{ site.imgui }}menu/green/dsi_boxoverlay.png" />
        <img src="" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box colorbox2">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_boxfull.png" />
        <a href="https://ko-fi.com/rvtr" target="_blank"><img class="nav-content-box-sub" src="{{ site.imgui }}menu/green/dsi_boxoverlay.png" /></a>
        <img src="{{ site.imgui }}navbar/ko-fi_128.png" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box colorbox3">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_boxfull.png" />
        <a href="https://discord.gg/se9yQBeX3e" target="_blank"><img class="nav-content-box-sub" src="{{ site.imgui }}menu/green/dsi_boxoverlay.png" /></a>
        <img src="{{ site.imgui }}navbar/discord_128.png" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box colorbox0">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_boxfull.png" />
        <a href="https://github.com/rvtr/rvtr.github.io" target="_blank"><img class="nav-content-box-sub" src="{{ site.imgui }}menu/green/dsi_boxoverlay.png" /></a>
        <img src="{{ site.imgui }}navbar/github_128.png" class="nav-content-box-icon">
      </div>

    </div>
  </div>

  <div class="nav-bracket">
    <img src="{{ site.imgui }}menu/dsi_rightbracket.png">
  </div>
</div>