<div class="nav">
    <nav>
        <ul>
            <li class="navedge"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_leftbracket.png" style="width:1.5vw;height:auto;margin:auto;"/></li>
            <div class="navpadding">
                <!--<li class="navimg">
                <div class="container">
                <div class="imageOne image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_boxfull.png" class="navimg"></div>
                <div class="imageTwo image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/icon/navbar/back.png" class="navicon"></div>
                <div class="imageThree image"><a href="/"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_red_boxoverlay.png" class="navimgoverlay"></a></div>
                </div>
                </li>-->
                <!--<li class="navimg">
                <div class="container">
                <div class="imageOne image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_boxfull.png" class="navimg"></div>
                <div class="imageTwo image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/icon/navbar/home.png" class="navicon"></div>
                <div class="imageThree image"><a href="/dsi.html"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_red_boxoverlay.png" class="navimgoverlay"></a></div>
                </div>
                </li>-->
                <li class="navimg">
                <div class="container">
                <div class="imageOne image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_boxfull.png" class="navimg"></div>
                <div class="imageTwo image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/icon/navbar/twldevapps.png" class="navicon"></div>
                <div class="imageThree image"><a href="/"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_red_boxoverlay.png" class="navimgoverlay"></a></div>
                </div>
                </li>
                <li class="navimg">
                <div class="container">
                <div class="imageOne image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_boxfull.png" class="navimg"></div>
                <div class="imageTwo image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/icon/navbar/devshop.png" class="navicon"></div>
                <div class="imageThree image"><a href="/dsidev/dsishop/startup.html"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_red_boxoverlay.png" class="navimgoverlay"></a></div>
                </div>
                </li>
                <li class="navimg">
                <div class="container">
                <div class="imageOne image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_boxfull.png" class="navimg"></div>
                <div class="imageTwo image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/icon/navbar/blog.png" class="navicon"></div>
                <div class="imageThree image"><a href="/dsi.html"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_red_boxoverlay.png" class="navimgoverlay"></a></div>
                </div>
                </li>
                <li class="navimg">
                <div class="container">
                <div class="imageOne image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_boxfull.png" class="navimg"></div>
                <div class="imageTwo image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/icon/navbar/guide-fw.png" class="navicon"></div>
                <div class="imageThree image"><a href="/dsidev/guide/ds-prototype-firmware.html"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_red_boxoverlay.png" class="navimgoverlay"></a></div>
                </div>
                </li>
                <li class="navimg">
                <div class="container">
                <div class="imageOne image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_boxfull.png" class="navimg"></div>
                <div class="imageTwo image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/icon/navbar/firmware.png" class="navicon"></div>
                <div class="imageThree image"><a href="/dsidev/guide/ds-ique-firmware.html"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_red_boxoverlay.png" class="navimgoverlay"></a></div>
                </div>
                </li>
                <li class="navimg">
                <div class="container">
                <div class="imageOne image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_boxfull.png" class="navimg"></div>
                <div class="imageTwo image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/icon/navbar/x4_i_guess.png" class="navicon"></div>
                <div class="imageThree image"><a href="/dsidev/release/USG-CPU-X4.html"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_red_boxoverlay.png" class="navimgoverlay"></a></div>
                </div>
                </li>
                <li class="navimg">
                <div class="container">
                <div class="imageOne image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_box.png" class="navimg"></div>
                <div class="imageThree image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_red_boxoverlay.png" class="navimgoverlay"></div>
                </div>
                </li>
                <li class="navimg">
                <div class="container">
                <div class="imageOne image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_box.png" class="navimg"></div>
                <div class="imageThree image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_red_boxoverlay.png" class="navimgoverlay"></div>
                </div>
                </li>
                <li class="navimg">
                <div class="container">
                <div class="imageOne image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_box.png" class="navimg"></div>
                <div class="imageThree image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_red_boxoverlay.png" class="navimgoverlay"></div>
                </div>
                </li>
                <li class="navimg">
                <div class="container">
                <div class="imageOne image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_box.png" class="navimg"></div>
                <div class="imageThree image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_red_boxoverlay.png" class="navimgoverlay"></div>
                </div>
                </li>
                <li class="navimg">
                <div class="container">
                <div class="imageOne image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_box.png" class="navimg"></div>
                <div class="imageThree image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_red_boxoverlay.png" class="navimgoverlay"></div>
                </div>
                </li>
                <li class="navimg">
                <div class="container">
                <div class="imageOne image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_boxfull.png" class="navimg"></div>
                <div class="imageTwo image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/icon/navbar/discord.png" class="navicon"></div>
                <div class="imageThree image"><a href="https://discord.gg/se9yQBeX3e"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_red_boxoverlay.png" class="navimgoverlay"></a></div>
                </div>
                </li>
                <li class="navimg">
                <div class="container">
                <div class="imageOne image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_boxfull.png" class="navimg"></div>
                <div class="imageTwo image"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/icon/navbar/github.png" class="navicon"></div>
                <div class="imageThree image"><a href="https://github.com/IanSkinner1982/ianskinner1982.github.io/"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_red_boxoverlay.png" class="navimgoverlay"></a></div>
                </div>
                </li>
                </div>
            <li class="navedge"><img src="https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_rightbracket.png" style="width:1.5vw;height:auto;margin:auto;"/></li>
        </ul>
    </nav>
</div>
