<div class="nav-container">
  <div class="nav-bracket">
    <img src="{{ site.imgui }}menu/dsi_leftbracket.png">
  </div>

  <div class="nav-content">
    <div class="nav-content-container"> <!-- 14 boxes please -->
      <div class="nav-content-box">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_boxfull.png" />
        <a href="/"><img class="nav-content-box-sub" src="{{ site.imgui }}menu/dsi_red_boxoverlay.png" /></a>
        <img src="{{ site.imgui }}navbar/home_128.png" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_boxfull.png" />
        <a href="{{ site.shopurl }}"><img class="nav-content-box-sub" src="{{ site.imgui }}menu/dsi_red_boxoverlay.png" /></a>
        <img src="{{ site.imgui }}navbar/devshop_128.png" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_boxfull.png" />
        <a href="/dsi.html"><img class="nav-content-box-sub" src="{{ site.imgui }}menu/dsi_red_boxoverlay.png"/></a>
        <img src="{{ site.imgui }}navbar/blog_128.png" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_boxfull.png" />
        <a href="/dsidev/guide/ds-prototype-firmware.html"><img class="nav-content-box-sub" src="{{ site.imgui }}menu/dsi_red_boxoverlay.png" /></a>
        <img src="{{ site.imgui }}navbar/guide-fw_128.png" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_boxfull.png" />
        <a href="/dsidev/guide/ds-ique-firmware.html"><img class="nav-content-box-sub" src="{{ site.imgui }}menu/dsi_red_boxoverlay.png" /></a>
        <img src="{{ site.imgui }}navbar/firmware_128.png" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_boxfull.png" />
        <a href="/dsidev/release/USG-CPU-X4.html"><img class="nav-content-box-sub" src="{{ site.imgui }}menu/dsi_red_boxoverlay.png" /></a>
        <img src="{{ site.imgui }}navbar/x4_i_guess_128.png" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_box.png" />
        <img class="nav-content-box-sub" src="{{ site.imgui }}menu/dsi_red_boxoverlay.png" />
        <img src="" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_box.png" />
        <img class="nav-content-box-sub" src="{{ site.imgui }}menu/dsi_red_boxoverlay.png" />
        <img src="" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_box.png" />
        <img class="nav-content-box-sub" src="{{ site.imgui }}menu/dsi_red_boxoverlay.png" />
        <img src="" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_box.png" />
        <img class="nav-content-box-sub" src="{{ site.imgui }}menu/dsi_red_boxoverlay.png" />
        <img src="" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_box.png" />
        <img class="nav-content-box-sub" src="{{ site.imgui }}menu/dsi_red_boxoverlay.png" />
        <img src="" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_boxfull.png" />
        <a href="https://discord.gg/se9yQBeX3e"><img class="nav-content-box-sub" src="{{ site.imgui }}menu/dsi_red_boxoverlay.png" /></a>
        <img src="{{ site.imgui }}navbar/discord_128.png" class="nav-content-box-icon">
      </div>
      <div class="nav-content-box">
        <img class="nav-content-box-main" src="{{ site.imgui }}menu/dsi_boxfull.png" />
        <a href="https://github.com/rvtr/rvtr.github.io"><img class="nav-content-box-sub" src="{{ site.imgui }}menu/dsi_red_boxoverlay.png" /></a>
        <img src="{{ site.imgui }}navbar/github_128.png" class="nav-content-box-icon">
      </div>

    </div>
  </div>

  <div class="nav-bracket">
    <img src="{{ site.imgui }}menu/dsi_rightbracket.png">
  </div>
</div>