<!-- thank you NCX. This website was built off of you (/me?) and will forever be stealing small parts of you -->
<nav class="navbar navbar-light navbar-expand-lg" style="background-color:#feb0fc;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><b>DS(i) dev app info</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item" style="">
                    <a class="nav-link" href="{{ site.shopurl }}">DSi Debug Shop</a>
                </li>
                <li class="nav-item" style="">
                    <a class="nav-link" href="/dsidev/guides.html">Guides</a>
                </li>
                <li class="nav-item" style="">
                    <a class="nav-link" href="/dsidev/releases.html">Releases</a>
                </li>
                <li class="nav-item" style="">
                    <a class="nav-link" href="/dsi.html">Blog</a>
                </li>

            </ul>
            <ul class="navbar-nav">
                <li class="nav-item" style="">
                    <a class="nav-link" href="https://discord.gg/se9yQBeX3e" target="_blank"><img src="{{ site.imgui }}navbar/discord.svg" style="width:32px;height:32px;" alt="Discord"></a><a class="nav-link" href="https://github.com/rvtr/rvtr.github.io" target="_blank"><img src="{{ site.imgui }}navbar/github.svg" style="width:32px;height:32px;" alt="GitHub"></a><a class="nav-link" href="https://ko-fi.com/rvtr" target="_blank"><img src="{{ site.imgui }}navbar/kofi.svg" style="width:32px;height:32px;" alt="Ko-Fi"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
