<div class="info" style="margin-bottom: 10px;">
  <details>
  <summary style="padding-bottom: 0px;">Important Info:</summary>
    <p><br>
    Most Nitro EVA cartridges are compiled as <a href="/dsidev/nitro_eva_self_checker.html">Self Checker</a>, and simply have save data to determine if they should run in a different mode. As such, most of the actual dumps and downloads will be on the Self Checker page. Different modes can be selected in the app with the menu option at <code>Checker Menu --> Configuration --> 01-02 Test Mode</code>. Each test mode has a corresponding number, as listed below:
    </p>
    <ul>
      <li><b>0000</b>: Self Checker</li>
      <li><b>0001</b>: Aging</li>
      <li><b>0002</b>: Flicker Adjuster</li>
      <li><b>0003</b>: LCD Unit Checker</li>
      <li><b>0004</b>: Self Checker(8M)</li>
      <li><b>0005</b>: TP Calibration</li>
      <li><b>0006</b>: IPL2 Self Rewrite</li>
      <li><b>0007</b>: TP Accuracy</li>
      <li><b>0008</b>: Test TP Jig</li>
      <li><b>0009</b>: Only For Test</li>
    </ul>
    <p>There are three exceptions to this: <a href="/dsidev/nitro_eva_mic.html">MIC</a>, <a href="/dsidev/nitro_eva_f-writer.html">F-WRITER</a>, <a href="/dsidev/nitro_eva_rf_test.html">RF Test</a>, and <a href="/dsidev/nitro_eva_proto.html">the prototype</a>. These may have unique sets of modes, or are separate programs entirely.</p>
  </details>
</div>