@import '/assets/bootstrap/css/bootstrap.min.css';

@font-face {
  font-family: dsifont;
  src: url(/assets/font/nintendo_NTLGDB_001.ttf);
}
@font-face {
  font-family: dsifont-bios;
  src: url(/assets/font/nintendo-DS-BIOS.ttf);
}
@font-face {
  font-family: dsifont-special;
  src: url(/assets/font/NITROIPL_Gaiji.ttf);
}
code {
  font-family: dsifont-bios;
  font-size: 20px;
  color: green;
  word-wrap: break-word;
}
.code-div {
  font-size: 15%;
  font-weight: 600;
  color: #e83e8c;
  margin-left: 40px;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
special {
  font-family: dsifont-special;
}
h1 {
  padding-bottom:10px;
  font-size: 40px;
}
h2 {
  padding-top:20px;
  font-size: 30px;
}
h3 {
  /*padding-top:20px;*/
  font-size: 22px;
}
summary {
  padding-bottom:20px;
  font-size: 22px;
}
h4 {
  padding-top:10px;
  font-size: 20px;
}
/* https://github.com/gbdev/pandocs/issues/507 */
.pixelate {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
/* nav bar */
.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width:95%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1vw;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.nav-bracket img {
  width: 1.5vw;
}
.nav-content {
  width: 90%;
}
.nav-content-container {
  display: flex;
  width:100%;
  padding-top: 1vw;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.nav-content-box {
  position: relative;
  top: 0;
  left: 0;
}
.nav-content-box-main {
  width:6vw;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.nav-content-box-sub {
  width:6vw;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 3;
}
.nav-content-box-sub:hover {
  opacity: 1.0;
}
.nav-content-box-icon {
  width: 3.2vw;
  position: absolute;
  top: 20%;
  left: 23%;
  z-index:2;
  -ms-interpolation-mode: auto;
  image-rendering: auto;
  image-rendering: auto;
}
/* NCX navbar */
.navbar {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
}
.nav-link:focus, .nav-link:hover img {
  color: #ffffff;
}
.navbar-light .navbar-nav .nav-link {
  color: #000000;
}

.info {
  padding: 10px;
  background-color: #e6ebf2;
  color: black;
  margin-left: 0%;
  margin-right: 5%;
  border-radius: 5px;
  border-left: 2px solid #f6971b;
  border-bottom: 1px solid #072a66;
}
body {
  background-image: url('https://cdn.randommeaninglesscharacters.com/ui-images/menu/dsi_dsi_background.jpg');
  font-family: dsifont;
}
/* devinfo layout CSS. Shocking, I know! */
.devinfo-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px;
}
.devinfo-container-main {
  position: relative;
  width: 75%;
  font-size: 15px
}
.devinfo-container-category {
  position: relative;
  width: 1200px;
  min-width: 40%;
  max-width: 100%;
  font-size: 15px;
  padding: 10px;
  padding-left: 20px;
  margin: auto;
}
.devinfo-container-sub {
  position: relative;
  width: 19%;
  min-width: 250px;
  margin-left: 10px;
}
.devinfo-container-sub2 {
  display: none;
}
.devinfo-main {
  margin-left:20px;
  margin-right:20px;
}
.devinfo-sub {
  padding-top:10px;
  padding-bottom:10px;
}
.devinfo-sub2 {
  margin-left:auto;
  margin-right:auto;
}
.devcsv-table {
  /*font-size: 1vw;*/
  border-spacing: 0;
}
.tadding {
  padding: 0px 5px 0px 5px;
}
.devcsv-container {
  display: grid;
  grid-template-columns: 30% auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;   gap: 10px;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.devcsv-preview-container { grid-area: 1 / 1 / 1 / 5;width:100%;}
.devcsv-info { grid-area: 2 / 1 / 2 / 5; margin-left:10px; margin-right:10px;}
.devcsv-info1 { grid-area: 3 / 1 / 3 / 5; margin-left:10px; margin-right:10px;}
.devcsv-info2 { grid-area: 4 / 1 / 4 / 5; margin-left:10px; margin-right:10px;}
.devcsv-download { grid-area: 5 / 1 / 5 / 5; margin-left:10px; margin-right:10px;} 
.preview-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
.preview-flex {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}
.preview-text {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 95%;
  height: 42%;

}
.preview-icon {
  margin-top: 6.75%;
  margin-left: 0.25%;
  width: 12.7%;
}
.scroller {
  color:green;
  padding-top:1vw;
}
.releasepage {
  margin: auto;
  width: 97%;
  padding: 10px;
}
/* ======================= for index.html ======================= */
.index-limit {
  max-width: 1400px;
  margin: auto;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}
.parent_or_guardian {
  position: relative;
  top: 0;
  left: 0;
  width: 200px;
  padding-top: 20px;
}
.prompt {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.prompt_two_a_new_hover {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 100%;
  opacity: 0;
  z-index: 2;
}
.prompt_two_a_new_hover:hover {
  opacity: 1.0;
}

.flexception {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  z-index: 2;
  align-items: stretch;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.flexceptionception {
  display: inline-flex;
  flex-direction: row;
}

.flexceptionception_the_flexening {
  display: inline-flex;
  flex-direction: column;
}

.prompt_header {
  padding-left: 10px;
  text-align: left;
  font-size: 12px;
}

.prompt_title {
  height: 34px;
}

.prompt_info {
  padding-top: 3px;
  text-align: left;
  font-size: 12px;
}

.prompt_icon {
  width:52px;
  height:52px;
}
/* ======================= for program pages ======================= */
.release-limit {
  max-width: 1400px;
  margin: auto;
}
.screenshot {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 30px;
}
.screenshot img {
  width: 300px;
  height: auto;
  border: 5px solid white;
  box-shadow: 0px 0px 2px 5px rgb(217,217,217,1);
  align-self: center;
}
.screenshot img:hover {
  width: 300px;
  height: auto;
  border: 5px solid white;
  box-shadow: 0px 0px 5px 7px rgb(128, 128, 128,1);
  align-self: center;
}
.screenshot video {
  width: 300px;
  height: auto;
  border: 5px solid white;
  box-shadow: 0px 0px 2px 5px rgb(217,217,217,1);
  align-self: center;
}
.photo {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}
.photo img {
  border: 5px solid white;
  box-shadow: 0px 0px 2px 5px rgb(217,217,217,1);
  align-self: center;
  max-width: 70%;
  height: auto;
}
/* I am so fucking done */

/* ======================= mobile only settings ======================= */
@media only screen and (min-width: 990px) {
  .devcsv-container {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;   gap: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 5px;
    font-size: max(12px, 1vw);
  }
  .devcsv-info { grid-area: 2 / 1 / 2 / 5; }
  .devcsv-info1 { grid-area: 3 / 1 / 3 / 5; }
  .devcsv-info2 { grid-area: 4 / 1 / 4 / 5; }
  .devcsv-download { grid-area: 5 / 1 / 5 / 5; } 
  .photo img {
    height: 300px;
    width: auto;
  }
}
@media only screen and (max-width: 990px) {
  .devcsv-preview-container {
    display: none;
  }
  .devinfo-container {
  flex-direction: column;
  padding-top: 55px;
  }
  .devinfo-container-main {
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%
  }
  .devinfo-container-sub {
    display: none;
    width: 25%;
  }
  .devinfo-container-sub2 {
    display: block;
  }
  .nav-container {
    display: none;
  }
  .navbar {
    display: block;
  }
  .preview-text {
    font-size: 20px
  }
  .scroller {
    padding-top: 55px;
  }
  .fourohfour {
    padding-top: 55px;
  }
  .releasepage {
    padding-top: 65px;
  }
  .photo img {
    height: auto;
    width: 400px;
  }
}

@media only screen and (max-width: 503px) {
  .parent_or_guardian {
    width: 160px;
  }
  .prompt_header {
    padding-left: 5px;
    text-align: left;
    font-size: 10px;
  }

  .prompt_title {
    height: 28px;
  }

  .prompt_info {
    padding-top: 3px;
    font-size: 10px;
  }

  .prompt_icon {
    width:42px;
    height:42px;
  }

  .flexception {
    padding-top: 8px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    justify-content: center;
    margin-left: 4px;
    margin-right: 4px;
  }
  .devinfo-container-category {
    padding-left: auto;
  }
}
/* ======================= For listing options in a program! ======================= */
table.menu {
  border-collapse: collapse;
  width: 100%;
  background-color: #b2b2b2;
  margin-bottom: 20px;
}
th.menuheader {
  background-color: #feb0fc;
  border: 2px solid #e488b1;
  text-align: left;
  padding: 4px;
}
td.menuitem {
  background-color: #cecece;
  border: 1px solid #999999;
  text-align: left;
  padding: 6px;
}
td.menuitem:nth-of-type(1) {
  background-color: #b2b2b2;
  font-family: dsifont-bios;
  font-size: 20px;
}
td.menuitem2 {
  background-color: #cecece;
  border: 1px solid #999999;
  text-align: left;
  padding: 6px;
}

/* ======================= TWL SDK CSS, woah! ======================= */
    table.twl
    {
      margin-top      : 2pt;
      margin-bottom   : 2pt;
      /* margin-left: auto;
      margin-right: auto; */
      padding-left    : 0pt;
      padding-right   : 0pt;
      position      : relative;
      left        : 12px;
      font-family     : Arial;
      font-size     : 10pt;
      border-style    : none none none none;
      width       : 80%;
    }

    table.history td.date /* special case for history table */
    {
      text-align      : center;
      width       : 100;
    }

    table.history td.version /* special case for history table */
    {
      text-align      : center;
      width       : 100;
    }

    th.twl,td.twl
    {
      padding       : 2pt;
      border-width    : 2pt;
      border-style    : none none none none;
      font-style      : normal;
    }

    th.twl
    {
      background      : #cdd;
      font-weight     : bold;
    }

    td.twl
    {
      background      : #ddf;
      font-weight     : normal;
    }

    td.center
    {
      text-align      : center;
    }

table.category-table {
	border: 1px solid black;
	margin: auto;
	text-align: center;
	font-size: 13px;
	width: 90%;
	background: #EEEEEE;
	margin-top: 30px;
	margin-bottom: 30px;
}
th.category-header {
	margin: auto;
	text-align: center;
	color: black;
  background-color: #feb0fc;
  border: 2px solid #e488b1;
}
tr.category-footer {
  border: 1px solid black;
  margin: auto;
  text-align: center;
  color: black;
  background: #e6e6e6;
}
a.category-list {
	padding:10px;
}
table.functionlist {
	border: 0;
	cellspacing: 0;
	cellpadding: 0;
	margin-left: 20px;
}

.code-div {
	font-size: 13px;
	font-weight: 600;
	color: #e83e8c;
	margin-left: 40px;
}