@import '/assets/bootstrap/css/bootstrap.min.css';
@font-face {
  font-family: dsifont;
  src: url(/assets/dsi/nintendo_NTLGDB_001.ttf);
}
body {
  background-image: url('/assets/other/bg.png');
  font-family: dsifont;
}

.content {
    margin: 1%;
    width: 90%;
    padding-left:10%;
}
.text {
    background-color: #babbbb;
    padding: 1%;
}
