@font-face {
  font-family: dsifont;
  src: url(/assets/font/nintendo_NTLGDB_001.ttf);
}
@font-face {
  font-family: dsifont-bios;
  src: url(/assets/font/nintendo-DS-BIOS.ttf);
}
@font-face {
  font-family: dsifont-special;
  src: url(/assets/font/NITROIPL_Gaiji.ttf);
}
code {
  font-family: dsifont-bios;
  font-size: 20px;
  color: green;
}
special {
  font-family: dsifont-special;
}
.info {
  padding: 10px;
  background-color: #e6ebf2;
  color: black;
  margin-left: 0%;
  margin-right: 5%;
  border-radius: 5px;
  border-left: 2px solid #f6971b;
  border-bottom: 1px solid #072a66;
}
body {
  background-image: url('https://cdn.randommeaninglesscharacters.com/assets-dsi/menu/dsi_dsi_background.jpg');
  font-family: dsifont;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 3.5%;
  width: auto;
  height: auto;
  text-align: center;
  /*  overflow: hidden; */
}
.navstd {
  float: left;
}
.navalt {
  float: right;
}
.container {
    position: relative;
}
.imageOne {
    z-index: 0;
}
.imageTwo {
    z-index: 1;
}
.imageThree {
  z-index: 2;
}
.imageFour {
  z-index: 3;
}
.image {
    position: absolute;
    width: 100px;
    height: 100px;
}
.navimgoverlay {
  opacity: 0.0;
  text-align: center;
  float: left;
  padding-top: .6vw;
  width: 6vw;
  height: auto;
}
.navimgoverlay:hover {
  opacity: 1.0;
  width: 6vw;
}
.navimg {
  text-align: center;
  float: left;
  padding-top: .6vw;
  width: 6vw;
  height: auto;
}
.navicon {
  text-align: center;
  float: left;
  padding-top: 2.1vw;
  padding-left: 1.38vw;
  width: 3.2vw;
  height: auto;
}
.navedge {
  text-align: center;
  float: left;
  margin: 1%;
  width: 1.5vw;
  height: auto;
}
.navpadding li {
  padding-top: 1.5%;
}
.image2 {
    position: absolute;
    border-color: #FFFFFF
    width: auto;
    height: auto;
    margin-left:-0.3vw;
}
.image3 {
  position: relative;
    border-color: #FFFFFF
    width: auto;
    height: auto;
}
.text {
    position: absolute;
    text-align: left;
    border-color: #FFFFFF;
    font-size: 30px;
    font-size: 1vw;
    padding-top: 2.2vw;
    padding-left: 6.2vw;
}
.text1point5-oopsiesididntplanaheadsoimstupidlycrammingthisinhere {
    position: absolute;
    text-align: left;
    border-color: #FFFFFF;
    font-size: 30px;
    font-size: 1vw;
    padding-top: 3.7vw;
    padding-left: 6.2vw;
}
.text2-electricboogaloo {
    position: absolute;
    text-align: left;
    border-color: #FFFFFF;
    font-size: 30px;
    font-size: 1vw;
    padding-top: 6.5vw;
    padding-left: 1.6vw;
}
.icon {
    padding-top:2.2vw;
    margin-left: -9.3vw;
    z-index: 2;
}
.titleimgoverlay {
  margin: 0% 2% 0%;
  opacity: 0.0;
  text-align: center;
  float: left;
  width: 16vw;
  height: auto;
}
.titleimgoverlay:hover {
  opacity: 1.0;
}
.titleimg {
  margin: 0% 2% 0%;
  text-align: center;
  float: left;
  width: 16vw;
  height: auto;
  margin-bottom: 10vw;
}
.titleedge {
  text-align: center;
  float: left;
  margin: 1%;
  width: 18vw;
  height: auto;
}
.titlepadding li {
  padding-top: 1.5%;
  margin: 0% 2% 0%
}
.homeimg {
  text-align: center;
  /*float: right;*/
  width: 96%;
  height: auto;
  margin-bottom: 5vw;
}
.hometext {
    position: absolute;
    text-align: center;
    border-color: #FFFFFF;
    font-size: 0.9vw;
    width: 100%;
}
.hometext_long {
    position: absolute;
    text-align: left;
    border-color: #FFFFFF;
    font-size: 40px;
    font-size: .82vw;
}
.homeicon {
    padding-top:37%;
    padding-left:1.5%
    z-index: 2;
    margin-right:0.3vw;
}
.othertext {
    position: absolute;
    text-align: left;
    width: 100%;
    border-color: #FFFFFF;
    font-size: 15px;
    padding-top: 1vw;
    padding-left: 1vw;
}
/* TWL SDK CSS, woah! */
    table.twl
    {
      margin-top      : 2pt;
      margin-bottom   : 2pt;
      /* margin-left: auto;
      margin-right: auto; */
      padding-left    : 0pt;
      padding-right   : 0pt;
      position      : relative;
      left        : 12px;
      font-family     : Arial;
      font-size     : 10pt;
      border-style    : none none none none;
      width       : 80%;
    }

    table.history td.date /* special case for history table */
    {
      text-align      : center;
      width       : 100;
    }

    table.history td.version /* special case for history table */
    {
      text-align      : center;
      width       : 100;
    }

    th.twl,td.twl
    {
      padding       : 2pt;
      border-width    : 2pt;
      border-style    : none none none none;
      font-style      : normal;
    }

    th.twl
    {
      background      : #cdd;
      font-weight     : bold;
    }

    td.twl
    {
      background      : #ddf;
      font-weight     : normal;
    }

    td.center
    {
      text-align      : center;
    }

