
	TD.LeftSide
	{ 
    		COLOR: black; 
    		FONT-FAMILY: "Arial", sans-serif; 
    		width: 200px;
			FONT-SIZE: 12px;
			background-image:url("/home/rmc/Downloads/cellbackground2.jpg") ;background-repeat:no-repeat;
			text-align:left;
			
	} 
	
	TD.RightSide
	{ 
    		COLOR: black; 
    		FONT-FAMILY: "Arial", sans-serif; 
    		width: 200px;
			FONT-SIZE: 12px;
			background-image:url("/home/rmc/Downloads/cellbackground2.jpg") ;background-repeat:no-repeat;
			text-align:left;
			
	} 
	
	TD.Center
	{ 
    		
    		width: 400px;
    		background-color:#F7E8CF; 
    		text-align:left;
    		vertical-align:middle;
    		
    		
			
			
			
	} 

	body
	{
		text-align:center;
		
	}
	
	.strong
{
	font-weight:700;
	color:black;
}
 
