/* Common CSS */
@font-face {
  font-family: dsifont;
  src: url(/assets/dsi/nintendo_NTLGDB_001.ttf);
}
html * {
  font-family: dsifont;
}
h1
{
    font-size: 16px;
    text-decoration: underline;
	background-color: #CCFFCC;
	margin: 4px 0px;
}
body
{
    font-size: 12px;
	background-color: #FFFFFF;
}
table
{
    border-width: 1px;
	border-collapse: separate;
	border-spacing: 0px;
}
td
{
    padding: 2px;
}
ul
{
    padding: 0px;
    margin: 0px 12px;
}

#up_url, #down_url
{
    width: 95%;
}
