---
Title: Stuff
Layout: dsiware
app: TwlNmenu
---
<!--
  Notes on the CSV values:
  PROGRAM:   Name as seen in rmc-dsi directory
  VERSION:   Program version/identifier (if none then v0)
  DATE:      Program date (if none then null)
  TYPE:      SRL or TAD
  FAKETAD:   TAD was created by maketad.exe and is not the original (if N/A then null)
  TARGET:    NAND or CARD
  SYSTEM:    TWL/DSi or NTR/DS
  ORIGIN:    Where the program was first distributed
  CREDIT:    People responsible for dump
  BANNER:    Program banner text line 1
  BANNER1:   Program banner text line 2 (if none then null)
  ICON_ALT:  Check if program has alernative banner (true/false).
             If true, declare "BANNER2" and "BANNER3" in front matter and have {{ ENTRY.PROGRAM }}_alt.gif as secondary icon
  DANGER:    Program danger level. Null (safe), medium (brick potential), high (definite brick)
  PUBLISHED: Should program be listed on index.html (true/false). ONLY APPLY FOR THE FIRST VERSION OF A PROGRAM! Using this
             for multiple versions will cause duplicates on index.html
  TITLE:     Program title
  DESC:      Program description as seen on index.html
-->

{% for ENTRY in site.data.dsinfo %}
  {% if ENTRY.PROGRAM == page.app %}
    {% if ENTRY.PUBLISHED == "TRUE" %}
        <p>{{ page.app }} | {{ site.title }}<br>
      {{ page.app }}<br>
      {{ site.imgurl }}{{ ENTRY.PROGRAM }}/{{ ENTRY.PROGRAM }}.gif<br>
      {{ ENTRY.DESC }} for {{ ENTRY.SYSTEM }}<br>
      {{ ENTRY.DESC }} for {{ ENTRY.SYSTEM }}<br>
      dsi, ds, nintendo, dev, {{ page.app }}</p>
    {% endif %}
  {% endif %}
{% endfor %}

<!-- Check all DS program info -->
<style>
table, th, td {
  border:1px solid black;
}
</style>

<!-- Check all DS program info -->
{% for CHECK in site.data.dsinfo %}
    <hr>
    {% if CHECK.PUBLISHED == "TRUE" %}
      <table><tr><td>Is selected</td><td>True!</td></tr><tr><td>Name</td><td>{{ CHECK.PROGRAM }}</td></tr><tr><td>Ver</td><td>{{ CHECK.VERSION }}</td></tr><tr><td>Date</td><td>{{ CHECK.DATE }}</td></tr><tr><td>Type</td><td>{{ CHECK.TYPE }}</td></tr><tr><td>Faketad</td><td>{{ CHECK.FAKETAD }}</td></tr><tr><td>Target</td><td>{{ CHECK.TARGET }}</td></tr><tr><td>System</td><td>{{ CHECK.SYSTEM }}</td></tr><tr><td>Origin</td><td>{{ CHECK.ORIGIN }}</td></tr><tr><td>Credit</td><td>{{ CHECK.CREDIT }}</td></tr><tr><td>Banner</td><td>{{ CHECK.BANNER }}</td></tr><tr><td>Banner1</td><td>{{ CHECK.BANNER1 }}</td></tr><tr><td>Icon Alt</td><td>{{ CHECK.ICON_ALT }}</td></tr><tr><td>Danger</td><td>{{ CHECK.DANGER }}</td></tr><tr><td>Published</td><td>{{ CHECK.PUBLISHED }}</td></tr><tr><td>Title</td><td>{{ CHECK.TITLE }}</td></tr><tr><td>Desc</td><td>{{ CHECK.DESC }}</td></tr></table>
    {% else %}
      <table><tr><td>Is selected</td><td>False!</td></tr></table>
    {% endif %}
{% endfor %}

<!-- because I keep deleting my local copy 
{% for ENTRY in site.data.dsinfo %}
      if [ ! -d "{{ ENTRY.PROGRAM }}" ]; then<br>
        mkdir "{{ ENTRY.PROGRAM }}"<br>
      fi<br>
      wget -O "{{ ENTRY.PROGRAM }}/{{ ENTRY.PROGRAM }}_{{ ENTRY.VERSION }}{{ ENTRY.DATE }}.{{ ENTRY.TYPE }}" "<a href="{{ site.appurl }}{{ ENTRY.PROGRAM }}/{{ ENTRY.PROGRAM }}_{{ ENTRY.VERSION }}{{ ENTRY.DATE }}.{{ ENTRY.TYPE }}">{{ site.appurl }}{{ ENTRY.PROGRAM }}/{{ ENTRY.PROGRAM }}_{{ ENTRY.VERSION }}{{ ENTRY.DATE }}.{{ ENTRY.TYPE }}</a>"<br>
{% endfor %}
-->