---
layout: dsiware
---
{% for ENTRY in site.data.dsinfo -%}
  {%- if ENTRY.PUBLISHED == "TRUE" -%}
	{%- if ENTRY.PROGRAM == page.app -%}
<div class="devinfo-container">
<!-- MAIN CONTENT -->
   <div class="devinfo-container-main">
      <img src="{{ site.imgui }}menu/dsi_red_widebarnoprompt_u.png" style="width: 100%;position: static;display: block;" class="pixelate">
      <div style="background-image: url('{{ site.imgui }}menu/dsi_widepromptnobar.png');background-size:100% 100%;position: static;display: inline-block;width:100%;">
      <div class="devinfo-main" style="position:relative;">
        <div style="text-align:right;"><a href="https://github.com/rvtr/rvtr.github.io/edit/master/dsidev/{{ ENTRY.PROGRAM | downcase }}.html" target="_blank">Edit</a></div>
        <h1>{{ ENTRY.TITLE }}</h1>
        <!-- Generate list for programs sets like TWL EVA -->
		{% for sc in page.category -%}
		<table class="category-table">
		  <tr>
		  	<th class="category-header">
			  Other {{ sc }} programs
			</th>
		  </tr>
		  <tr>
		  	<td style="line-height: 1.9;">
		  	<!-- I enjoy eliptical indentation -->
		  	  {% assign i = 0 %}
		        {%- for page in site.pages -%}
			           {% for TEST in site.data.dsinfo -%}
				             {%- if TEST.PROGRAM == page.app -%}
					               {%- if TEST.PUBLISHED == "TRUE" -%}
					                   {%- if page.group == true -%}
					     	                {%- for pc in page.category -%}
					     	                   {%- if pc == sc %}
					     	                        {%- if i != 0 and page.sequence == true %}
					     	                         <!-- Overly fancy arrows to show an order in a list. Counter to not display on the first loop -->
					     	                          -->
					      	                      {% endif -%}
					      	                     {% assign i = i | plus: 1 %}
					      	                   <a class="category-list" href="{{ page.url }}">{{ page.altname }}</a>
					      	                {% endif -%}
					    	                {%- endfor -%}
					    	             {%- endif -%}
					    	         {%- endif -%}
				             {%- endif -%}
			         {%- endfor %}
		    	{%- endfor -%}
		    </td>
		  </tr>
		</table>
		{%- endfor %}
        {{ content }}
      </div>
      </div>
      <img src="{{ site.imgui }}menu/dsi_red_widebarnoprompt_d.png" style="width: 100%;display: block;" class="pixelate">
   </div>

<!-- I LOVE INLINE CSS!!!!!!!! -->

<!-- SUB CONTENT - FOR DESKTOP -->
   <div class="devinfo-container-sub">
      <img src="{{ site.imgui }}menu/dsi_red_thinbarnoprompt_u.png" style="width: 100%;position: static;display: block;" class="pixelate">
      <div style="background-image: url('{{ site.imgui }}menu/dsi_thinpromptnobar.png');background-size:100% 100%;position: static;display: inline-block;width:100%;">
      <div class="devinfo-sub" style="position:relative;">
        {% include devcsv.html %}
      </div>
      </div>
      <img src="{{ site.imgui }}menu/dsi_red_thinbarnoprompt_d.png" style="width: 100%;display:block;" class="pixelate">
   </div>

<!-- SUB CONTENT - FOR MOBILE (SUB2) -->
   <div class="devinfo-container-sub2">
      <img src="{{ site.imgui }}menu/dsi_red_widebarnoprompt_u.png" style="width: 100%;position: static;display: block;" class="pixelate">
      <div style="background-image: url('{{ site.imgui }}menu/dsi_widepromptnobar.png');background-size:100% 100%;position: static;display: inline-block;width:100%;">
      <div class="devinfo-sub2" style="position:relative;">
        {% include devcsv.html %}
      </div>
      </div>
      <img src="{{ site.imgui }}menu/dsi_red_widebarnoprompt_d.png" style="width: 100%;display:block;" class="pixelate">
   </div>

</div>
    {%- endif -%}
  {%- endif -%}
{%- endfor %}