---
layout: dsiware
---
{% for ENTRY in site.data.dsinfo -%}
  {%- if ENTRY.PROGRAM == page.app -%}
    {%- if ENTRY.PUBLISHED == "TRUE" -%}
<div class="devinfo-container">
<!-- MAIN CONTENT -->
   <div class="devinfo-container-main">
      <img src="{{ site.imgui }}menu/dsi_red_widebarnoprompt_u.png" style="width: 100%;position: static;display: block;" class="pixelate">
      <div style="background-image: url('{{ site.imgui }}menu/dsi_widepromptnobar.png');background-size:100% 100%;position: static;display: inline-block;">
      <div class="devinfo-main" style="position:relative;">
        <div style="text-align:right;"><a href="https://github.com/rvtr/rvtr.github.io/edit/master/dsidev/{{ ENTRY.PROGRAM | downcase }}.html" target="_blank">Edit</a></div>
        <h1>{{ ENTRY.TITLE }}</h1>
        {{ content }}
      </div>
      </div>
      <img src="{{ site.imgui }}menu/dsi_red_widebarnoprompt_d.png" style="width: 100%;display: block;" class="pixelate">
   </div>


<!-- SUB CONTENT - FOR DESKTOP -->
   <div class="devinfo-container-sub">
      <img src="{{ site.imgui }}menu/dsi_red_thinbarnoprompt_u.png" style="width: 100%;position: static;display: block;" class="pixelate">
      <div style="background-image: url('{{ site.imgui }}menu/dsi_thinpromptnobar.png');background-size:100% 100%;position: static;display: inline-block;width:100%;">
      <div class="devinfo-sub" style="position:relative;">
        {% include devcsv.html %}
      </div>
      </div>
      <img src="{{ site.imgui }}menu/dsi_red_thinbarnoprompt_d.png" style="width: 100%;display:block;" class="pixelate">
   </div>

<!-- SUB CONTENT - FOR MOBILE (SUB2) -->
   <div class="devinfo-container-sub2">
      <img src="{{ site.imgui }}menu/dsi_red_widebarnoprompt_u.png" style="width: 100%;position: static;display: block;" class="pixelate">
      <div style="background-image: url('{{ site.imgui }}menu/dsi_widepromptnobar.png');background-size:100% 100%;position: static;display: inline-block;width:100%;">
      <div class="devinfo-sub2" style="position:relative;">
        {% include devcsv.html %}
      </div>
      </div>
      <img src="{{ site.imgui }}menu/dsi_red_widebarnoprompt_d.png" style="width: 100%;display:block;" class="pixelate">
   </div>

</div>
    {%- endif -%}
  {%- endif -%}
{%- endfor %}