<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="icon" type="image/png" href="/icon.png"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/styledsi.css">

    <link id="pagestyle" rel="stylesheet" type="text/css" href="">
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/feed.xml">
    <script src="/assets/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/assets/js/main.js"></script>
    {% if page.title == "Home" %}
      <meta property="og:title" content="Welcome">
    {% else %}
      <meta property="og:title" content="{{ page.title }}">
    {% endif %}
    <meta name="description" content="{{ page.title }} | {{ site.title }}">
    <meta property="og:description" content="{{ page.title }} | {{ site.title }}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <!-- GRRRR I HATE GOOGLE SAYING MY CANONICALS ARE DUPLICATES!! Please someone smart help me... -->
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:site_name" content="rmc">
    {% if page.custicon == true %}
      <meta property="og:image" content="{{ page.iconurl }}">
    {% else %}
      <meta property="og:image" content="{{ site.url }}/icon.png">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
  .float-container {
    border: 0px solid #fff;
    font-size: 0;
  }

  .float-child1 {
    width: 40%;
    height: 40%;
    float: left;
    padding: 1vw;
  }

  .float-child2 {
    width: 20%;
    height: 40%;
    float: right;
    padding: 1vw;
  }
</style>
  </head>
  <body>
    {% include navdsi.html %}
    <div id="content-wrap">
    {{ content }}
    </div>
  </body>
  <footer>
  {% include footerdsi.html %}
  </footer>
</html>
