---
layout: default
---

<div class="container text-center">
  {% if page.archived == true %}
  <img src="https://cdn.ncxprogramming.com/file/image/banner/archived.svg" class="projectimg" style="width:80%;" alt="A banner that says 'Archved'.">
  {% endif %}
  <img src="{{ page.iconurl }}" class="projectimg" style="width:256px;height:256px;padding-top:8px;" alt="The program's icon.">
  <div class="text-center pb-3">
    <h1>{{ page.title }}</h1>
    <p><b>By {{ page.author }}</b></p>
    <p><b>Platform(s): </b>{{ page.platform }}</p>
    <div class="dropdown pb-3">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Project Links
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        {% for item in page.links %}
          <li><a class="dropdown-item" href="{{ item.link }}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    <div id="content-wrap" style="padding-bottom: 2.5rem;">
    {{ content }}
    </div>
</div>
